:root{
    --roxo:rgb(40, 40, 75);
    --roxo_escuro:rgb(40, 40, 75);
    --lilas:rgb(200, 200, 255);
    --lilas_escuro:rgb(87, 73, 114);
    --ciano:rgb(190, 255, 255);
    --azul:rgb(86, 215, 255);
    --transparente_roxo:rgba(0, 0, 0, 0.329);
    --transparente_azul:rgba(3, 53, 97, 0.486);
}
*{
    overflow: hidden;
    padding: 0;margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: var(--roxo);
}
.links{
    position:fixed;
    width: 100%; height: auto;
}
header{
    width: 100%;height: 100%;
    background-color: var(--lilas_escuro);
    text-align: center;
    padding-bottom: 3%;
}
header h1{
    padding-top: 28px;
    font-size: 230%;
    color: var(--lilas);
}

nav{
    width: 100%;height: auto;
    background-color: var(--transparente_roxo);
}
nav ul{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
nav ul li{
    list-style: none;
    display: inline;
    font-size: 90%;
    padding-left: 1%;
}
nav ul li a{
    text-decoration: none;
    color: var(--lilas);
    transition: 0.5s;
    padding:0.4%;
    padding-top: 2.4%;
    padding-bottom: 2.4%;
    
}
nav ul li a:hover{
    background-color:var(--lilas);
    color: var(--roxo_escuro);
}

.imagem{
    width: 70%;height:33pc;
    padding-left: 15%;
    padding-top: 11%;
}

#first{
    width: 100%;height: 10%;
    text-align: center;
    background-color: var(--transparente_roxo);
}
#first h1{
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;
}
#first h2{
    color: white;
}
#first a{
    text-decoration:overline;
    color: var(--ciano);
    transition: 0.5s;
    padding: 10px;
    border-radius: 100px;
}
#first h3{
    text-decoration:overline;
    color: var(--ciano);
    transition: 0.5s;
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 50px;
    
}
#first a:hover{
    text-decoration:overline;
    color: var(--azul);
    background-color: var(--transparente_azul);
}

.descricao{
    width: 100%;height: auto;
    text-align: center;
    background-color: var(--transparente_roxo);
}
.descricao h1{
    padding-bottom: 20px;
    color: white;
}
.descricao h2{
    color: white;
}
.descricao a{
    text-decoration:overline;
    color: var(--ciano);
    transition: 0.5s;
    padding: 10px;
    border-radius: 100px;
}
.descricao h3{
    text-decoration:overline;
    color: var(--ciano);
    transition: 0.5s;
    padding: 10px;
    border-radius: 100px;
    margin-bottom: 50px;
    
}
.descricao a:hover{
    text-decoration:overline;
    color: var(--azul);
    background-color: var(--transparente_azul);
}